/*
Script name: Proceso de Pagos Soluciones Hipermedia | Integración con el sitio del cliente
Script URI: http://www.solucioneshipermedia.com/
Version: 1.0
Authors: Alejandro Sobrevillla Viveros (@hunabix), Hibam Iru Dionisio Alor (@hibamiru)
Email: info@solucioneshipermedia.com
Authors URI: http://www.solucioneshipermedia.com
*/



/* GENERAL CONTENT */

.psh-round-corner {
	border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
}
.psh-grey-box {
	margin: 0 30px;
	background-color: #ddd;
	padding: 8px 10px;
	border: 1px solid #ccc;
}

.psh-descripcion {
	font-size: .94em !important;
	margin: -4px 60px 10px 21px !important;
	font-style: italic;
	color: #666;	
}

#psh-content {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	padding: 10px;
	width: 100%;
	margin: 0 auto;
}

#psh-titulo-pagina {
	
}

#psh-content h1 {
	font-size: 1.5em;
}
#psh-content h2 {
	font-size: 1.4em;
}
#psh-content h3 {
	font-size: .9em;
}
#psh-content h4 {
	font-size: .7em;
}
#psh-content h5 {
	font-size: .5em;
}
#psh-content h6 {
	font-size: .4em;
}
#psh-content p {
	font-size: 1em;	
	margin: 5px 10px;
}

.psh-or {
	min-height: 40px;
	float: left;
	width: 30px;
	display: block;
	line-height: 40px;
	margin: 20px;
	text-align: center;
}
.psh-instrucciones {
	color:#222;
	font-size: .92em;
}

.psh-nombre-seccion {
	color: #B5873D;
	font-size: 1.4em;
	padding: 5px 0;
	margin: 0;
}

.psh-ayuda {
	font-size: 12px;
	color: #999;
	display: block;
	clear: both;
}



/* SECCION */
#psh-general-container {
	margin: 5px auto 10px;
	width: 800px;
	padding: 10px 20px;
	background: #F9F9F9;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.23);
	-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.23);
	box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.23);	
}
#psh-container-footer {
	padding: 10px 20px 40px;	
}


/* =FORMS */
.psh-form input[type="text"],
.psh-form input[type="email"],
.psh-form input[type="password"],
.psh-form input[type="number"],
.psh-form select,
.psh-form textarea {
	background: #fff;
	border: 1px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(00, 00, 00, .2);
	-moz-box-shadow: inset 1px 1px 2px 2px rgba(00, 00, 00, .2);
	box-shadow: inset 1px 1px 1px 1px rgba(00, 00, 00, .3);     
	position: relative;
	padding: 8px 5%;
	text-indent: 10px;
	width: 90%;
	color: #666;
	font-size: 1em;
}
.psh-form select {
	width: 20%;
	padding: 8px 2% 8px 0;
}

.psh-form input[type="number"] {  width: 10%; margin: 0 6px;  }
.psh-form label {
	font-size: 1em;
	padding: 8px 0;
	display: block;
	font-weight: bold;
}

.psh-form p { margin-bottom:10px; }

.psh-form input[type="submit"], .psh-form button {
	background: #444;
	border: none;
	border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 18px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
	font-weight: bold;
	width: 100%;
	padding: 8px 5%;
	margin: 20px auto 10px;
	display:block;
	clear:both;
}

.psh-form input[type="submit"]:hover {
	background: #222;
	color: #fff;
}

/* color de las marcas de agua o input placeholders */
::-webkit-input-placeholder { color: #ccc; }
:-moz-placeholder { /* Firefox 18- */   opacity: 1; color: #ccc;  }
::-moz-placeholder {  /* Firefox 19+ */  opacity: 1;   color: #ccc;  }
:-ms-input-placeholder {  color: #ccc;  }


